<a href="https://colab.research.google.com/github/leonardoramires/RepositorioAulaGit/blob/dev/Notebook_aula_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
url = 'https://raw.githubusercontent.com/leonardoramires/RepositorioAulaGit/dev/Dados/ExercicioAula.csv'

In [11]:
df = pd.read_csv(url, sep=';')
df

,Nome da pessoa,Idade da pessoa,Documento CPF,Data de Nascimento,Sexo da pessoa,Signo da Pessoa,Nome da Mãe,Telefone Fixo,Telefone Celular,Altura da Pessoa,Peso da Pessoa,Tipo Sanguíneo da Pessoa
0,Marli Juliana Nascimento,67,147.676.158-28,02/05/1954,Feminino,Touro,Emanuelly Manuela Raquel,(11) 3539-8798,(11) 98614-5862,"1,82",80,AB+
1,Gabriela Alana Mariah Drumond,78,909.394.958-64,13/07/1943,Feminino,Câncer,Mariana Stella Jennifer,(19) 3636-6638,(19) 98907-6817,"1,63",81,B+
2,Cauã Renato Silveira,19,796.865.138-76,18/06/2002,Masculino,Gêmeos,Jennifer Alice,(11) 2983-0013,(11) 99420-4446,"1,71",73,B-
3,Benedito Sérgio Sebastião Cardoso,40,748.225.288-63,16/09/1981,Masculino,Virgem,Carolina Esther Betina,(12) 2981-9852,(12) 99813-1889,"1,94",68,AB-
4,Flávia Isadora Lívia Moreira,20,568.818.498-18,27/01/2001,Feminino,Aquário,Bruna Carla,(19) 3728-7301,(19) 98547-3096,"1,58",71,AB-
...,...,...,...,...,...,...,...,...,...,...,...,...
1595,Gustavo Luís Fogaça,22,431.259.578-00,05/05/1999,Masculino,Touro,Marcela Ester,(17) 3804-7015,(17) 99510-9391,"1,97",61,AB+
1596,Sebastião Noah Anthony Castro,34,316.256.308-91,13/08/1987,Masculino,Leão,Luiza Agatha,(19) 3745-2551,(19) 98937-3100,"1,87",87,O-
1597,Enzo Ruan Dias,42,440.535.058-28,25/06/1979,Masculino,Câncer,Clarice Nair Regina,(16) 2795-5569,(16) 99745-6869,"1,97",71,O-
1598,Francisco Isaac Carvalho,57,604.360.418-39,04/06/1964,Masculino,Gêmeos,Isabelly Mirella,(11) 3688-6941,(11) 98352-4868,"1,85",69,B-
1599,Elias Caleb Leonardo da Mata,68,917.381.098-36,21/06/1953,Masculino,Câncer,Eloá Mirella Ester,(19) 3953-0623,(19) 98212-6263,"1,64",82,AB+